.header {
    background:#68c93e;
    display: flex;
    width: 400px;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.troley {
    position: relative;
}

.troley img {
    width: 40px;
}

.logo img {
    width: 180px;
    height: 40px;
}

.count {
    background: #2d3c8d;
    padding: 10px;
    border-radius: 50px;
    min-height: 10px;
    height: 10px;
    line-height: 10px;
    text-align: center;
    color: white;
    font-size: 11px;
    position: absolute;
    bottom: -8px;
    left: -13px;
}

.card {
    margin-left: 20px;
    border: 1px solid rgba(0, 0, 0, 0.23);
    padding: 10px;
    width: 320px;
    border-radius: 4px;
}
.card p {
    font-weight: 500;
}

.img-thumb-prod img {
    width: 320px;
}
.minus {
    background-color: royalblue;
    width: 30px;
}

.plus {
    background-color: royalblue;
    width: 30px;
}

.counter {
    text-align: center;
}